<h1><%=Meeting.human_name(:count =>2)%></h1>
<%= link_to image_tag("icon_new.png", :border => 0), new_meeting_path %>
<table>
  <tr>
    <th><%= Customer.human_name %></th>
    <th colspan="2"><%= Meeting.human_attribute_name(:start) %> - <%= Meeting.human_attribute_name(:end) %></th>
		<th><%= Operator.human_name %></th>
    <th><%= Meeting.human_attribute_name(:notes)%></th>
    <th colspan="3"></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.customer.firstName %> <%= meeting.customer.lastName %></td>
    <td colspan="2">
      <%= l(meeting.start, :format => :date) %><br/> 
      <%= l(meeting.start, :format => :time) %> - <%= l(meeting.end, :format => :time) %>
    </td>
		<td><%= meeting.operator.first_name %><%= meeting.operator.last_name %></td>
    <td><%= meeting.notes %></td>
    <td><%= link_to image_tag("icon_show.png", :border => 0), meeting %></td>
    <td><%= link_to image_tag("icon_edit.png", :border => 0), edit_meeting_path(meeting) %></td>
    <td><%= link_to image_tag("icon_delete.png", :border => 0), meeting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
