<h1>Listing meetings</h1>
<%= link_to image_tag("icon_new.png", :border => 0), new_meeting_path %>
<table>
  <tr>
    <th>Customer</th>
    <th>Start</th>
    <th>End</th>
    <th>Notes</th>
    <th colspan="3">Actions</th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.customer.firstName %><%= meeting.customer.lastName %></td>
    <td><%= meeting.start %></td>
    <td><%= meeting.end %></td>
    <td><%= meeting.notes %></td>
    <td><%= link_to image_tag("icon_show.png", :border => 0), meeting %></td>
    <td><%= link_to image_tag("icon_edit.png", :border => 0), edit_meeting_path(meeting) %></td>
    <td><%= link_to image_tag("icon_delete.png", :border => 0), meeting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
