<%= link_to image_tag("icon_edit.png", :border => 0), edit_meeting_path(@meeting) %>
<%= link_to image_tag("icon_back.png", :border => 0), meetings_path %>
<%= link_to image_tag("icon_reminder.png", :border => 0), :controller => :meetings, :action => :send_reminder, :id => @meeting.id %>
<p id="notice"><%= notice %></p>
<p>
  <b><%=Customer.human_name%>:</b>
	<%= @meeting.customer.firstName %> <%= @meeting.customer.lastName %>
</p>

<p>
  <b><%=Operator.human_name%>:</b>
	<%= @meeting.operator.first_name %> <%= @meeting.operator.last_name %>
</p>

<p>
  <b><%=Meeting.human_attribute_name(:start)%>:</b>
  <%= l(@meeting.start) %>
</p>

<p>
  <b><%=Meeting.human_attribute_name(:end)%>:</b>
  <%= l(@meeting.end) %>
</p>

<p>
  <b><%=Meeting.human_attribute_name(:notes)%>:</b>
  <%= @meeting.notes %>
</p>

