<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
	<%= @meeting.customer.firstName %> <%= @meeting.customer.lastName %>
</p>

<p>
  <b>Start:</b>
  <%= @meeting.start %>
</p>

<p>
  <b>End:</b>
  <%= @meeting.end %>
</p>

<p>
  <b>Notes:</b>
  <%= @meeting.notes %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
