<h2 id="month">  
	<%= link_to "<", :date => (@date.-1).strftime("%Y-%m-%d") %>  
	<%= h @date.strftime("%A %d/%m/%Y") %>  
	<%= link_to ">", :date => (@date.+1).strftime("%Y-%m-%d") %>  
</h2> 

<script type="text/javascript">
	//<![CDATA[
	function newMeeting(start, end){	
		document.location = "/meetings/new_from_worksheet?" + "start=" + start + "&end=" + end;
	}

	//]]>
</script>


<table border="1">
	<% @worksheets.each do |worksheet| %>
		<tr>
			<!--
			<td onClick="newMeeting(2010, 1, 1, 20, 30, 21, 45);">
			-->
			<td onClick="newMeeting('<%= worksheet[:start] %>', '<%= worksheet[:end] %>');">


				<%= worksheet[:start].strftime("%H:%M") %>-<%= worksheet[:end].strftime("%H:%M") %></td>
    		<td width="70%">
				<% if worksheet[:meetings] != nil %>
					<% worksheet[:meetings].each do |meeting| %>
						<table border="0">
							<tr>
								<td><%= meeting.start.strftime("%H:%M") %></td>
								<td><%= meeting.customer.firstName %><%= meeting.customer.lastName %></td>
								<td><%= meeting.notes %>
								</td>
							</tr>
						</table>
					<% end %>
				<% end%>
			</td>
		</tr>
	<% end %>
</table>
