<h2 id="month">  
	<%= link_to image_tag("icon_previous.png", :border => 0), :date => (@date.-1).strftime("%Y-%m-%d") %>  
	<%= h @date.strftime("%A %d/%m/%Y") %>  
	<%= link_to image_tag("icon_next.png", :border => 0), :date => (@date.+1).strftime("%Y-%m-%d") %>  
</h2> 

<script type="text/javascript">
	//<![CDATA[
	function newMeeting(start, end){	
		document.location = "/meetings/new_from_worksheet?" + "start=" + start + "&end=" + end;
	}

	//]]>
</script>


<table id="worksheet">
	<% @worksheets.each do |worksheet| %>
		<tr>
			<!--
			<td onClick="newMeeting(2010, 1, 1, 20, 30, 21, 45);">
			-->
			<td onClick="newMeeting('<%= worksheet[:start] %>', '<%= worksheet[:end] %>');">
				<div class="time">
					<%= worksheet[:start].strftime("%H:%M") %>-<%= worksheet[:end].strftime("%H:%M") %>
				<div>
			</td>
    	<td>
				<% if worksheet[:meetings] != nil %>
					<% worksheet[:meetings].each do |meeting| %>
						<div class="meeting">
							<div>
								<%= meeting.start.strftime("%H:%M") %> - <%= meeting.end.strftime("%H:%M") %>
							</div>
							<div>
								<%= meeting.customer.firstName %><%= meeting.customer.lastName %>
							</div>
							<div>
								<%= meeting.notes %>
							</div>
						</div>
					<% end %>
				<% end%>
			</td>
		</tr>
	<% end %>
</table>
