<script type="text/javascript">
	//<![CDATA[
	function newMeeting(start, end){	
		document.location = "/worksheets/new_meeting?" + "start=" + start + "&end=" + end;
	}

	//]]>
</script>

<h2 id="month">  
	<%= link_to image_tag("icon_previous.png", :border => 0), :action => "worksheet", :date => (@date.-1).strftime("%Y-%m-%d") %>  
  <%= l @date %>    
	<%= link_to image_tag("icon_next.png", :border => 0), :action => "worksheet", :date => (@date.+1).strftime("%Y-%m-%d") %>  
</h2> 

<table id="worksheet">

	<thead>
		<th></th>
		<% @worksheet.operators.each do |operator| %>
			<th><%= operator.first_name %> <%= operator.last_name %></th>
		<% end %>
	</thead>

	<tbody>
		<% @worksheet.time_intervals.count.times{ |j| 
			time_interval = @worksheet.time_intervals[j] %>
			<tr>

				<%# Time interval cell %>
				<td>
					<div class="time">
						<%= time_interval[:start].strftime("%H:%M") %>&nbsp;-&nbsp;<%= time_interval[:end].strftime("%H:%M") %>
            <%= link_to_function image_tag("icon_new_small.png", :border => 0), "newMeeting('#{time_interval[:start]}','#{time_interval[:end]}')" %>

					<div>
				</td>

				<% @worksheet.operators.count.times{ |i| %>
					<td>
						<% meetings = @worksheet.meetings_for(i, j) %>
						<% if meetings
							meetings.each do |meeting| %>
								<div class="meeting">
                  <div>
                    <%= link_to image_tag("icon_show_small.png", :border => 0), meeting_path(meeting) %>  
                  </div>
									<div>
										<%= meeting.start.strftime("%H:%M") %>&nbsp;-&nbsp;<%= meeting.end.strftime("%H:%M") %>
									</div>
									<div>
										<%= meeting.customer.firstName %>%nbsp;<%= meeting.customer.lastName %>
									</div>
									<div>
										<%= meeting.notes %>
									</div>
								</div>
							<% end %>
						<% else %>
							&nbsp;
						<% end %>
					</td>
				<% } %>
						
			</tr>
		<% } %>
	</tbody>

</table>
