<script type="text/javascript">
	//<![CDATA[
	function newMeeting(start, end){	
		document.location = "/worksheets/new_meeting?" + "start=" + start + "&end=" + end;
	}

	//]]>
</script>

<h2 id="month">  
	<%= link_to image_tag("icon_previous.png", :border => 0), :action => "worksheet", :date => (@date.-1).strftime("%Y-%m-%d") %>  
	<%= h @date.strftime("%A %d/%m/%Y") %>  
	<%= link_to image_tag("icon_next.png", :border => 0), :action => "worksheet", :date => (@date.+1).strftime("%Y-%m-%d") %>  
</h2> 

<pre>
worksheet:
<%= @worksheet.to_s %>
operators:
<% @worksheet.operators do |operator| %>
	<%= operator.first_name %> <%= operator.last_name %>
<% end %>
<%= @worksheet.operators.to_s %>
time_intervals
XX <%= @worksheet.time_intervals.to_s %>
YY <% @worksheet.time_intervals do |k| %>
	[<%= k.to_s %>]
<% end %>
</pre>

<table id="worksheet">

	<thead>
		<th></th>
		<% @worksheet.operators do |operator| %>
			<th><%= operator.first_name %> <%= operator.last_name %></th>
		<% end %>
	</thead>

	<tbody>
		<% @worksheet.time_intervals do |time_interval| %>

			<tr>

				<%# Time interval cell %>
				<td onClick="newMeeting('<%= worksheet[:start] %>', '<%= worksheet[:end] %>');">
					<div class="time">
						<%= time_interval[:start].strftime("%H:%M") %> - <%= time_interval[:end].strftime("%H:%M") %>
					<div>
				</td>

				<% @worksheet.operators do |operator| %>
					<td>
						<% @worksheet.meetings_for(time_interval, operator).each do |meeting| %>
							<div class="meeting">
								<div>
									<%= meeting.start.strftime("%H:%M") %> - <%= meeting.end.strftime("%H:%M") %>
								</div>
								<div>
									<%= meeting.customer.firstName %><%= meeting.customer.lastName %>
								</div>
								<div>
									<%= meeting.notes %>
								</div>
							</div>
						<% end %>
					</td>
				<% end %>

			</tr>
		<% end %>
	</tbody>

</table>
