<%= form_for @operator_session do |form| %>    
	<div class="field">
      <%= form.label :username, "Username" %>  
      <%= form.text_field :username %>  
	</div>
	<div class="field">
      <%= form.label :password, "Password" %>  
      <%= form.password_field :password %>  
	</div>
	<div class="field">
      <%= form.submit "Submit" %>  
	</div>
<% end %>
