<h1><%=Customer.human_name(:count =>2)%></h1>
<%= link_to image_tag("icon_new.png", :border => 0), new_customer_path %>
<table>
	<tr>
		<th><%= Customer.human_attribute_name(:firstName) %></th>
		<th><%= Customer.human_attribute_name(:lastName) %></th>
		<th><%= Customer.human_attribute_name(:landLinePhone) %></th>
		<th><%= Customer.human_attribute_name(:mobilePhone) %></th>
		<th><%= Customer.human_attribute_name(:email) %></th>
		<th colspan="3"></th>
	</tr>

	<% @customers.each do |customer| %>
		<tr>
			<td><%= customer.firstName %></td>
			<td><%= customer.lastName %></td>
			<td><%= customer.landlinePhone %></td>
			<td><%= customer.mobilePhone %></td>
			<td><%= customer.email %></td>
			<td><%= link_to image_tag("icon_show.png", :border => 0), customer %></td>
			<td><%= link_to image_tag("icon_edit.png", :border => 0), edit_customer_path(customer) %></td>
			<td><%= link_to image_tag("icon_delete.png", :border => 0), customer, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
</table>


