<%= link_to image_tag("icon_edit.png", :border => 0), edit_customer_path(@customer) %>
<%= link_to image_tag("icon_back.png", :border => 0), customers_path %>


<p>
  <b><%= Customer.human_attribute_name(:firstName) %>:</b>
  <%= @customer.firstName %>
</p>

<p>
  <b><%= Customer.human_attribute_name(:lastName) %>:</b>
  <%= @customer.lastName %>
</p>

<p>
  <b><%= Customer.human_attribute_name(:land_line_phone) %></b>
  <%= @customer.landlinePhone %>
</p>

<p>
  <b><%= Customer.human_attribute_name(:mobile_phone) %>:</b>
  <%= @customer.mobilePhone %>
</p>

<p>
  <b><%= Customer.human_attribute_name(:email) %>:</b>
  <%= @customer.email %>
</p>

<p>
  <b><%= Customer.human_attribute_name(:note) %>:</b>
  <%= nl2br(@customer.note).html_safe %>
</p>
