<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Promemoria appuntamento presso <strong><%= @meeting.company.name %></strong></h1>  
    <p>
      Ciao <%= @meeting.customer.firstName %> <%= @meeting.customer.lastName %>, questo promemoria è per ricordarti il tuo appuntamento presso il nostro punto vendita.
    </p>
    <p>
      I dettagli dell'appuntamento: <br/>
      <strong>
      Il <%= l(@meeting.start, :format => :date) %> <%= l(@meeting.start, :format => :time) %>
      <% if(@meeting.notes != nil) %>
        <br/>
        per <%= @meeting.notes %>.
      <% end %>
      </strong>
    </p>
    <p>
      Nel caso tu abbia la necessità di spostare l'appuntamento non esitare a contattarci.
    </p>
  </body> 
</html> 
