<!DOCTYPE html>
<html>
<head>
  <title>ShopManagement</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div>
<%= link_to 'Customers', customers_path %>|<%= link_to 'Meetings', meetings_path %>
</div>

<%= yield %>

</body>
</html>
